body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
} 

::-webkit-scrollbar-track {
width: 6px;
border-radius: 3px;
background: #c4c4c4;
}

::-webkit-scrollbar-thumb {
width: 6px;
border-radius: 3px;
background: rgba(37, 37, 37, 0.42);
}
